*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#020617;
    color:white;
}

/* NAVBAR */
nav{
    position:fixed;
    width:100%;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#38bdf8;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a);
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    background:linear-gradient(90deg,#38bdf8,#a78bfa);
    -webkit-background-clip:text;
    color:transparent;
}

.hero p{
    margin-top:15px;
    font-size:20px;
    color:#cbd5e1;
}

.btn{
    margin-top:35px;
    padding:15px 35px;
    border-radius:30px;
    background:linear-gradient(90deg,#38bdf8,#818cf8);
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 30px #38bdf8;
}

/* SECTIONS */
section{
    padding:80px 20px;
    max-width:800px;
    margin:auto;
    text-align:center;
}

h2{
    font-size:34px;
    margin-bottom:15px;
    color:#38bdf8;
}

/* CARD */
.card{
    background:#0f172a;
    padding:30px;
    border-radius:18px;
    margin:15px 0;
    transition:0.4s;
    box-shadow:0 0 25px rgba(0,0,0,0.6);
    line-height:1.7;
    font-size:18px;
}

.card:hover{
    transform:translateY(-8px) scale(1.02);
    box-shadow:0 0 30px #38bdf8;
}

/* FOOTER */
footer{
    text-align:center;
    padding:40px;
    color:#94a3b8;
    margin-top:40px;
}

/* FADE HERO */
.fade{
    opacity:0;
    transform:translateY(20px);
    animation:fadeIn 1s forwards;
}

.delay{animation-delay:0.5s;}
.delay2{animation-delay:1s;}

@keyframes fadeIn{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* SCROLL REVEAL */
.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background:#020617;
}
::-webkit-scrollbar-thumb{
    background:#38bdf8;
    border-radius:10px;
}
