*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#020617;
    color:white;
}

/* NAVBAR */
nav{
    position:fixed;
    width:100%;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 40px;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#38bdf8;
}

/* HERO menší */
.hero{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a);
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
    background:linear-gradient(90deg,#38bdf8,#a78bfa);
    -webkit-background-clip:text;
    color:transparent;
}

.hero p{
    margin-top:10px;
    font-size:18px;
    color:#cbd5e1;
}

.btn{
    margin-top:25px;
    padding:12px 30px;
    border-radius:30px;
    background:linear-gradient(90deg,#38bdf8,#818cf8);
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.07);
    box-shadow:0 0 20px #38bdf8;
}

/* SEKCE BLÍŽ U SEBE */
section{
    padding:50px 20px;
    max-width:850px;
    margin:auto;
    text-align:center;
}

h2{
    font-size:30px;
    margin-bottom:15px;
    color:#38bdf8;
}

/* CARD */
.card{
    background:#0f172a;
    padding:25px;
    border-radius:18px;
    margin:10px 0;
    transition:0.4s;
    box-shadow:0 0 25px rgba(0,0,0,0.6);
    line-height:1.6;
    font-size:17px;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #38bdf8;
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
    margin-top:20px;
}

/* FADE */
.fade{
    opacity:0;
    transform:translateY(20px);
    animation:fadeIn 1s forwards;
}

.delay{animation-delay:0.4s;}
.delay2{animation-delay:0.8s;}

@keyframes fadeIn{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* SCROLL */
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:0.8s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background:#020617;
}
::-webkit-scrollbar-thumb{
    background:#38bdf8;
    border-radius:10px;
}
